body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camara , #result
{
  border: 5px dashed rgb(0, 0, 0);
  width: 350px;
  height: 300px; 
  margin-right: 100px;
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.title {
  color: white;
  font-weight: bolder;
  font-size: 20;
  width: 300px;
}
.label {
  font-size: 20px;
}